# Virtual environments
.venv/
venv/

# Python cache / bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/

# Logs
*.log